@using E_Commerce.Entity;
@model IEnumerable<Product>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<div class="row">
    <ul class="list-group">
        <li class="list-group-item active">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="col-md-9">
        <div class="row">
            @foreach (var urun in Model)
            {

                <div class="col-md-4">
                    <div class="card">
                        <a href=""> <img id="imgCard" src=@urun.PictureURL alt=@urun.ProductName> </a>
                        <div class="card-body">
                            <h5 class="card-title">@urun.ProductName</h5>
                            <p class="card-text">@urun.ProductDescription</p>
                        </div>
                        <div class"card-footer">
                            <small class="text-muted">
                                $@urun.UnitPrice
                            </small>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
